---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family-headings: Ubuntu, sans-serif;
$base-font-family: Roboto, sans-serif;
$base-font-size:   1.800em;
$base-font-weight: 500;
$small-font-size:  $base-font-size * 0.465;
$base-line-height: 1.2;
$text-color: #fdfdfd;

$background-color: #fdfdfd;
$brand-color:      #337ab7;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


#menu{
  z-index: 70;
  position: fixed;
  left: 20px;
  top: 20px;

  li{

    a{
      font-family: $base-font-family-headings;
      color: $background-color;
      text-transform: lowercase;
      font-weight: 700;
      border: 1px solid transparent;

      &:hover{
        background-color: transparent;
        border-color: $background-color;
      }

    }

    &.active a{
      background-color: $brand-color !important;
      border-color: $brand-color !important;
    }

  }

}

footer{
  position: fixed;
  z-index: 70;
  bottom: 0;
  width: 100%;
  .container-fluid{
    padding: 0 18px;
  }
  h5{
    padding-top: 18px;
    font-size: $small-font-size;
  }
}


//Headlines

h1, h2, h3, h4, h5, h6 {
   font-family: $base-font-family-headings;
   font-weight: 700;
   text-transform: lowercase;
   color: $text-color;
}

a{
  color: #fff;
  &:hover{
    color: $brand-color;
    text-decoration: none;
  }
}

body{
  font-family: $base-font-family;
  color: $text-color;
  font-size: $base-font-size;


  &.impressum{
    background-color: #32465B;
    font-size: $base-font-size;

    overflow: scroll;
  }

}

.section[data-anchor="intro"]{
  img{
    margin-top: 70px;
  }
}

.section[data-anchor="kontakt"]{
  a{
    display: inline-block;
    margin: 10px 50px 10px 0;
  }
}


ul#menu, footer{
  font-size: $small-font-size;
  font-family: $base-font-family-headings;
  text-transform: lowercase;
  color: $text-color;
}

#pp-nav{
  width: 100%;
  text-align: center;
  top:0 !important;
  margin: 0 !important;
  right: auto !important;
  li{

    display: inline-block !important;

    span{
      border-color: $background-color !important;
    }

    .active span{
      background: $background-color !important;
    }
  }
}

