---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family-headings: Ubuntu, sans-serif;
$base-font-family: "Osswald";
$base-font-size:   24px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$text-color: #fdfdfd;



$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
//@import "minima";

#menu{
  z-index: 70;
  position: fixed;
  left: 20px;
  top: 20px;

  li{

    a{
      font-family: $base-font-family-headings;
      color: $background-color;
      text-transform: lowercase;
      font-weight: 800;

    }

  }

}

footer{
  position: fixed;
  z-index: 70;
  bottom: 0;
  width: 100%;

  ul.social-media-list{
    li{
      display: inline-block;
      a{
        color:#FDFDFD;
        margin-right: 5px;
      }
    }
  }

}


//Headlines

h1, h2, h3, h4, h5, h6 {
   font-family: $base-font-family-headings;
   font-weight: 700;
   text-transform: lowercase;
   color: $text-color;
}

p {
   font-family: $base-font-family;
   font-weight: 500;
   color: $text-color;
}

li {
   font-family: $base-font-family;
   font-weight: 500;
   color: $text-color;
}

