<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "de" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta name="keywords" content="{{ site.keywords }}">
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu|Osswald" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/pagepiling/jquery.pagepiling.min.css' | relative_url }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <!--{% include google-analytics.html %}-->
</head>

  <body>

    <ul id="menu" class="nav nav-pills"></ul>

    <div id="pagepiling">

      {% for section in page.sections %}
        <div
            class="section"
            data-anchor="{{ section.anchor }}"
            data-color="{{ section.color }}"
            data-menu-title="{{ section.menu_title }}">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                {% capture section_content %}{% include content/{{ section.content}} %}{% endcapture %}
                {{ section_content | markdownify }}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>

    {% include footer.html %}

    <script src="https://use.fontawesome.com/e8f914a8e6.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{{ '/assets/pagepiling/jquery.pagepiling.min.js' | relative_url }}"></script>
    <script type="text/javascript">
       $(function(){

         var anchors = []
           , colors = []
           , menu = $("#menu")
           , sections = $(".section");

         sections.each(function(index){

           anchors.push($(this).data("anchor"));
           colors.push($(this).data("color"));

           if( index + 1 ===  sections.length){
             return false;
           }

           var menuLink = $("<a/>")
             .attr("href", "#"+$(this).data("anchor"))
             .text($(this).data("menu-title"));

           var menuItem = $("<li/>")
                            .attr("data-menuanchor",$(this).data("anchor") )
                            .append(menuLink);

           menuItem.appendTo(menu);

         });

         menu
           .find("li").first().addClass("active");


         $('#pagepiling').pagepiling({
           anchors: anchors,
           sectionsColor: colors,
           navigation : false,
           menu: "#menu"
         });
       });
    </script>

  </body>

</html>
