---
layout: default
---

<div class="home">

  <h1 class="page-heading">Services</h1>
    <h2>IT Management Consulting</h2>
    Strategie Beratung, Konzeption und Management Leistungen in
    <ul>
    <li>eBusiness</li>
    <li>Digitale Kollaboration</li>
    <li>IT Infrastruktur Operations & Service</li>
    <li>IT Security & Compliance</li>
    </ul>

    <h2>Cloud Architektur</h2>
    <ul>
    <li>Architektur für Private +/ Public Cloud Services</li>
    <li>Konzeption von Web Plattformen</li>
    <li>Microservice Architektur</li>
    <li>Software Defined Data Center</li>
    </ul>

    <h2>Agile Methoden & Kultur Kompetenz</h2>
    <ul>
    <li>Scrum</li>
    <li>DevOps</li>
    <li>Agile Service und Operations Funktionen</li>
    </ul>

   <h2>Qualifikationen</h2>
     <ul>
    <li>Cloud Computing Professional (TÜV)</li>
    <li>Docker Administration & Operations</li>
    <li>Professional Scrum Master I (scrum.org)</li>
    </ul>

     <h2>Expertise</h2>
    Mehr als 15 Jahre Erfahrung in verschiedenen Industrien wie Telco, Design, Internet, Biotech bei Mittelstand und Enterprise.
    <ul></ul>


<!--   <h1 class="page-heading">Posts</h1>
  
  {{ content }}

<ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
-->
</div>
