---
layout: default
---
<ul id="menu" class="nav nav-pills hidden-xs"></ul>

<div id="pagepiling">

  {% for section in page.sections %}
  {% capture section_content %}{% include content/{{ section.content}} %}{% endcapture %}

  <div
      class="section"
      data-anchor="{{ section.anchor }}"
      data-color="{{ section.color }}"
      data-menu-title="{{ section.menu_title }}">
    <div class="container">
      <div class="row">

        {% if forloop.first %}
          <div class="col-xs-12 col-sm-8 col-md-9">
            {{ section_content | markdownify }}
          </div>
          <div class="hidden-xs col-sm-4 col-md-3">
            <img src="/darius-tehrani-web.jpg" alt="Darius Tehrani" class="img-responsive img-thumbnail">
          </div>
        {% else %}
          <div class="col-xs-12">
            {{ section_content | markdownify }}
          </div>
        {% endif %}

      </div>
    </div>
  </div>
  {% endfor %}

</div>

{% include footer.html %}

<script src="https://use.fontawesome.com/e8f914a8e6.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{{ '/assets/pagepiling/jquery.pagepiling.min.js' | relative_url }}"></script>
<script type="text/javascript">
  $(function(){

    var anchors = []
      , colors = []
      , menu = $("#menu")
      , sections = $(".section");

    sections.each(function(index){

      anchors.push($(this).data("anchor"));
      colors.push($(this).data("color"));

      var menuLink = $("<a/>")
        .attr("href", "#"+$(this).data("anchor"))
        .text($(this).data("menu-title"));

      var menuItem = $("<li/>")
        .attr("data-menuanchor",$(this).data("anchor") )
        .append(menuLink);

      menuItem.appendTo(menu);

    });

    menu.find("li").first().addClass("active");

    $('#pagepiling').pagepiling({
      anchors: anchors,
      sectionsColor: colors,
      menu: "#menu"
    });

    $("#pp-nav").addClass("visible-xs");

  });
</script>